/* Container wrapping everything */
.home-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    z-index: -2;
    background-color: black;
}

.bg-video .text {
    color: white;
}

#content {
    position: sticky;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    color: white;
    margin: 0;
    min-height: 100vh;
}

#content1 {
    position: absolute;
    top: 50vh;
    left: 0;
    z-index: -1;
    /* width: 50vw; */
}

#content2 {
    position: absolute;
    top: 200vh;
    left: 0;
    z-index: -1;
    /* width: 50vw; */
}


#content3 {
    position: absolute;
    top: 300vh;
    left: 0;
    z-index: -1;
    /* width: 50vw; */
}


/* .content p {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 10%;
    font-size: 1rem;
    line-height: 2rem;
} */

#container {
    /* Center the text in the viewport. */
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 50%;
    top: 0;
    bottom: 0;

    /* This filter is a lot of the magic, try commenting it out to see how the morphing works! */
    filter: url(#threshold) blur(0.6px);
}

/* Your average text styling */
#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;

    font-family: "Comfortaa", 'Lato', sans-serif;
    font-size: 5rem;

    text-align: center;

    user-select: none;
}


/* ABOUT SECTION */
.about-container {
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: -10;
    padding: 10%;
    gap: 50px;
}

.about-container h2 {
    font-family: "Italiana", sans-serif;
    font-size: 3rem;
    color:  #e63b6b;
}

.about-container .text {
    /* padding: 5rem 5rem 0 5rem; */
    max-width: 400px;
    font-family: "Lato";
}

.about-container p {
    font-weight: 300;
}

.about-container img {
    max-width: 400px;
    height: auto;
    /* padding: 5rem; */
}

.proj-container {
    padding: 2rem;
    background-color:black;
    color: white;
}

.proj-container h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.proj-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.proj-card {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: flex-start;
}

.proj-card img {
    height: 315px;
}

.proj-description {
    flex: 1 1 300px;
    min-width: 300px;
    text-align: left;
}

@media (max-width: 768px) {
    .proj-card {
        flex-direction: column;
        align-items: left;
    }

    .proj-card img,
    .proj-description {
        width: 100%;
    }
}

.black-bg {
    background-color: black;
    min-height: 100vh;
    width: 100vw;
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    transition: opacity 0.5s ease;
    background-color: black;
}

#video-background iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 56.25vw; /* 16:9 aspect ratio */
    min-height: 100vh;
    min-width: 177.77vh; /* 16:9 aspect ratio */
    transform: translate(-50%, -50%);
}

.video-container {
    width: 100%;
    aspect-ratio: 16 / 10;
  }
  
  .video {
    width: 100%;
    height: 100%;
  }